<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h4>학생 관리</h4>
        <hr>
        <!-- 목록 -->
        <table>
            <thead>
                <tr><td>StudentId</td><td>StudentNm</td><td>Email</td><td>Phone</td></tr>
            </thead>
            <tbody>
                <tr v-for="(student, index) in studentList" :key="index" style="cursor: pointer" @click="detailStudent(student.studentId)">
                    <td>{{ student.studentId }}</td>
                    <td>{{ student.studentNm }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <form action="">
            <input type="text" v-model="student.studentNm" placeholder="name">
            <input type="text" v-model="student.email" placeholder="email">
            <input type="text" v-model="student.phone" placeholder="phone">
        </form>
        <br>
        <button @click="insertStudent">등록</button>
        <button @click="updateStudent">수정</button>
        <button @click="deleteStudent">삭제</button>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    studentList: [],
                    student: {},
                }
            },
            methods: {
                async detailStudent(studentId) {
                    try {
                        let response = await axios.get('http://localhost:8080/vue/students/' + studentId);
                        let { data } = response;
                        this.student = data;
                    } catch (error) {
                        console.error(error);
                    }
                },
                async insertStudent() {
                    try {
                        let response = await axios.post('http://localhost:8080/vue/students', this.student);
                        let { data } = response;
                        console.log(data);
                        if(data == 1){
                            alert('등록 성공!')
                            this.listStudent();
                        } else {
                            alert('등록 실패!')
                        }
                        this.clear();
                    } catch (error) {
                        console.error(error);
                    }
                },
                async updateStudent() {
                    try {
                        let response = await axios.put('http://localhost:8080/vue/students/' + this.student.studentId, this.student);
                        let { data } = response;
                        console.log(data);
                        if(data == 1){
                            alert('수정 성공!')
                            this.listStudent();
                        } else {
                            alert('수정 실패!')
                        }
                        this.clear();
                    } catch (error) {
                        console.error(error);
                    }
                },
                async deleteStudent() {
                    try {
                        let response = await axios.delete('http://localhost:8080/vue/students/' + this.student.studentId, this.student);
                        let { data } = response;
                        console.log(data);
                        if(data == 1){
                            alert('삭제 성공!')
                            this.listStudent();
                        } else {
                            alert('삭제 실패!')
                        }
                        this.clear();
                    } catch (error) {
                        console.error(error);
                    }
                },
                async listStudent() {
                    try {
                        let response = await axios.get('http://localhost:8080/vue/students');
                        let { data } = response;
                        console.log(data);
                        this.studentList = data;
                    } catch (error) {
                        console.error(error);
                    }
                },
                clear() {
                    this.student = {};
                }
            },
            async created() {
                try {
                    let response = await axios.get('http://localhost:8080/vue/students');
                    let { data } = response;
                    console.log(data);
                    this.studentList = data;
                } catch (error) {
                    console.error(error);
                }
            },
            
        });
    </script>
</body>
</html>