/*CKEditor Height*/
.ck-editor__editable {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

/*파일업로드 thumbnail*/
.thumbnail-wrapper{
	margin-top: 5px;
}

.thumbnail-wrapper img {
	width: 100px !important;
	margin-right: 5px;
	max-width: 100%;
}
